@tailwind base;
@tailwind components;
@tailwind utilities;

/* F O N T S */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* Añadimos los apply para las fuentes */
@layer components {
  .heading1 {
    @apply font-Manrope font-bold text-5xl leading-tight;
  }

  .heading2 {
    @apply font-Manrope font-bold text-[40px] leading-tight;
  }

  .heading3 {
    @apply font-Manrope font-bold text-[32px] leading-tight;
  }

  .heading4 {
    @apply font-Manrope font-bold text-[20px] leading-tight;
  }

  .title-small-bold {
    @apply font-Manrope font-bold text-[14px] leading-[1.4];
  }

  .title-small-regular {
    @apply font-Manrope font-normal text-[14px] leading-[1.4];
  }

  .bigger-semibold {
    @apply font-Manrope font-bold text-[18px] leading-[1.4];
  }

  .bigger-regular {
    @apply font-Manrope font-normal text-[18px] leading-[1.4];
  }

  .normal-semibold {
    @apply font-Manrope font-semibold text-[16px] leading-[1.2];
  }

  .normal-regular {
    @apply font-Manrope font-normal text-[16px] leading-[1.4];
  }

  .small-semibold {
    @apply font-Manrope font-bold text-[14px] leading-[1.4];
  }

  .small-regular {
    @apply font-Manrope font-normal text-[14px] leading-[1.4];
  }
}

/* Font para el logo */
/* Heading 4 */
@font-face {
  font-family: "Rota";
  /* src: url("../pages/rotaFont/Rota-Bold.otf"); */
  src: url("../styles/rotaFont/Rota-Bold.otf");
}

body {
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

/* Complicated designs */
#searchComponent {
  position: relative;
  z-index: 100;
}

#carrusel_platos::-webkit-scrollbar {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
    display: none;
}

/* For IE, Edge and Firefox */
#carrusel_platos {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* No me deja pasar entre overlays */

/* #overlay-food-container::before {
  content: "";
  position: fixed;
  inset: 0px;
  background: linear-gradient(
    to top,
    #00240f 2%,
    rgba(0, 0, 0, 0) 20%,
    transparent
  );
} */
